/*css*/
@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{font-family: 'Noto Sans KR', sans-serif;}

/* line 1, src/assets/style/base/_reset.scss */ html, body, div, span, applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
/* line 24, src/assets/style/base/_reset.scss */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 28, src/assets/style/base/_reset.scss */ body { line-height: 1; }

/* line 31, src/assets/style/base/_reset.scss */ ol, ul, dl, dd { list-style: none; margin: 0; padding: 0; }

/* line 36, src/assets/style/base/_reset.scss */ li { white-space: normal; }

/* line 39, src/assets/style/base/_reset.scss */ blockquote, q { quotes: none; }

/* line 42, src/assets/style/base/_reset.scss */ blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 47, src/assets/style/base/_reset.scss */ table { border-collapse: collapse; border-spacing: 0; }

/* line 52, src/assets/style/base/_reset.scss */ a { display: inline-block; text-decoration: none; color: inherit; }

/* line 56, src/assets/style/base/_reset.scss */ a:active, a:visited, a:hover { color: inherit; }

/* line 62, src/assets/style/base/_reset.scss */ button { border: 0; padding: 0; appearance: none; -webkit-appearance: none; background: transparent; cursor: pointer; font-size: 15px; }

/* line 71, src/assets/style/base/_reset.scss */ input, textarea { background: transparent; outline: none; }

/* line 75, src/assets/style/base/_reset.scss */ select { outline: none; appearance: none; -webkit-appearance: none; }

/* line 79, src/assets/style/base/_reset.scss */ select::-ms-expand { display: none; }

/* line 83, src/assets/style/base/_reset.scss */ select::-ms-expand { display: none; }

/* line 1, src/assets/style/base/_common.scss */ body { min-height: 100vh; margin: 0 auto; font-size: 15px; color: #1A1E27; }

/* line 9, src/assets/style/base/_common.scss */ * { box-sizing: border-box; }

/* line 13, src/assets/style/base/_common.scss */ hr { border: 0; border-top: 1px solid #ECECEC; }

/* line 19, src/assets/style/base/_common.scss */ input, textarea, select { padding: 9px 15px; border: 1px solid #ECECEC; border-radius: 10px; font-size: 15px; color: #1A1E27; background-color: #FFFFFF; background-repeat: no-repeat; background-position: center; background-size: auto; line-height: 20px; }

/* line 245, src/assets/style/base/_mixin.scss */ input[type="radio"], input[type="checkbox"], textarea[type="radio"], textarea[type="checkbox"], select[type="radio"], select[type="checkbox"] { display: none; }

/* line 248, src/assets/style/base/_mixin.scss */ input[type="radio"] + label, input[type="checkbox"] + label, textarea[type="radio"] + label, textarea[type="checkbox"] + label, select[type="radio"] + label, select[type="checkbox"] + label { position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; padding-left: 23px; height: 18px; line-height: 18px; font-size: 15px; cursor: pointer; }

/* line 256, src/assets/style/base/_mixin.scss */ input[type="radio"] + label:before, input[type="checkbox"] + label:before, textarea[type="radio"] + label:before, textarea[type="checkbox"] + label:before, select[type="radio"] + label:before, select[type="checkbox"] + label:before { content: ""; position: absolute; top: 0; left: 0; display: inline-block; width: 18px; height: 18px; }

/* line 274, src/assets/style/base/_mixin.scss */ input[type="radio"] + label.solo, input[type="checkbox"] + label.solo, textarea[type="radio"] + label.solo, textarea[type="checkbox"] + label.solo, select[type="radio"] + label.solo, select[type="checkbox"] + label.solo { display: inline-block; width: 18px; padding-left: 0; }

/* line 282, src/assets/style/base/_mixin.scss */ input[type="radio"]:disabled + label, input[type="checkbox"]:disabled + label, textarea[type="radio"]:disabled + label, textarea[type="checkbox"]:disabled + label, select[type="radio"]:disabled + label, select[type="checkbox"]:disabled + label { opacity: 0.5; }

/* line 284, src/assets/style/base/_mixin.scss */ input[type="radio"]:disabled + label:before, input[type="checkbox"]:disabled + label:before, textarea[type="radio"]:disabled + label:before, textarea[type="checkbox"]:disabled + label:before, select[type="radio"]:disabled + label:before, select[type="checkbox"]:disabled + label:before { width: 18px; height: 18px; }

/* line 293, src/assets/style/base/_mixin.scss */ input[type="radio"] + label:before, textarea[type="radio"] + label:before, select[type="radio"] + label:before { background-image: url("../images/radio-default.png"); background-repeat: no-repeat; background-position: left center; background-size: 18px; }

/* line 297, src/assets/style/base/_mixin.scss */ input[type="radio"]:checked + label:before, textarea[type="radio"]:checked + label:before, select[type="radio"]:checked + label:before { background-image: url("../images/radio-selected.png"); background-repeat: no-repeat; background-position: left center; background-size: 18px; }

/* line 303, src/assets/style/base/_mixin.scss */ input[type="checkbox"] + label:before, textarea[type="checkbox"] + label:before, select[type="checkbox"] + label:before { background-image: url("../images/checkbox-default.png"); background-repeat: no-repeat; background-position: left center; background-size: 18px; }

/* line 307, src/assets/style/base/_mixin.scss */ input[type="checkbox"]:checked + label:before, textarea[type="checkbox"]:checked + label:before, select[type="checkbox"]:checked + label:before { background-image: url("../images/checkbox-selected.png"); background-repeat: no-repeat; background-position: left center; background-size: 18px; }

/* line 311, src/assets/style/base/_mixin.scss */ input[type="file"], textarea[type="file"], select[type="file"] { display: none; }

/* line 24, src/assets/style/base/_common.scss */ input:focus, textarea:focus, select:focus { border-color: #3158b5; }

/* line 26, src/assets/style/base/_common.scss */ input:focus::placeholder, textarea:focus::placeholder, select:focus::placeholder { color: 15px; }

/* line 30, src/assets/style/base/_common.scss */ input::placeholder, textarea::placeholder, select::placeholder { color: #B8B8B8; }

/* line 33, src/assets/style/base/_common.scss */ input:disabled, textarea:disabled, select:disabled { opacity: 0.4; }

/* line 36, src/assets/style/base/_common.scss */ th input, td input, th textarea, td textarea, th select, td select { width: 100%; padding: 7px 15px 7px 15px; }

/* line 43, src/assets/style/base/_common.scss */ input:read-only { background-color: #EEEBFF; }

/* line 46, src/assets/style/base/_common.scss */ input:disabled { background-color: #AAAAAA; }

/* line 50, src/assets/style/base/_common.scss */ textarea { height: 115px; line-height: 20px; resize: none; }

/* line 60, src/assets/style/base/_common.scss */ select:after { content: ""; position: absolute; top: 0; left: 0; display: inline-block; width: 20px; height: 20px; }

/* line 77, src/assets/style/base/_common.scss */ .flex { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }

/* line 80, src/assets/style/base/_common.scss */ .inline-flex { display: -webkit-inline-box; display: -moz-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }

/* line 83, src/assets/style/base/_common.scss */ .flex-align-center { -webkit-box-align: center !important; -moz-box-align: center !important; -ms-flex-align: center !important; -webkit-align-items: center !important; align-items: center !important; }

/* line 86, src/assets/style/base/_common.scss */ .flex-align-end { -webkit-box-align: flex-end !important; -moz-box-align: flex-end !important; -ms-flex-align: flex-end !important; -webkit-align-items: flex-end !important; align-items: flex-end !important; }

/* line 89, src/assets/style/base/_common.scss */ .flex-align-start { -webkit-box-align: flex-start !important; -moz-box-align: flex-start !important; -ms-flex-align: flex-start !important; -webkit-align-items: flex-start !important; align-items: flex-start !important; }

/* line 92, src/assets/style/base/_common.scss */ .flex-justify-center { -webkit-box-pack: center !important; -moz-box-pack: center !important; -ms-flex-pack: center !important; -webkit-justify-content: center !important; justify-content: center !important; }

/* line 95, src/assets/style/base/_common.scss */ .flex-justify-end { -webkit-box-pack: flex-end !important; -moz-box-pack: flex-end !important; -ms-flex-pack: flex-end !important; -webkit-justify-content: flex-end !important; justify-content: flex-end !important; }

/* line 98, src/assets/style/base/_common.scss */ .flex-justify-between { -webkit-box-pack: space-between !important; -moz-box-pack: space-between !important; -ms-flex-pack: space-between !important; -webkit-justify-content: space-between !important; justify-content: space-between !important; }

/* line 101, src/assets/style/base/_common.scss */ .flex-justify-around { -webkit-box-pack: space-around !important; -moz-box-pack: space-around !important; -ms-flex-pack: space-around !important; -webkit-justify-content: space-around !important; justify-content: space-around !important; }

/* line 104, src/assets/style/base/_common.scss */ .flex-justify-evenly { -webkit-box-pack: space-evenly !important; -moz-box-pack: space-evenly !important; -ms-flex-pack: space-evenly !important; -webkit-justify-content: space-evenly !important; justify-content: space-evenly !important; }

/* line 107, src/assets/style/base/_common.scss */ .flex-width-auto { flex: 1 1 auto; width: auto; }

/* line 112, src/assets/style/base/_common.scss */ .flex0 { -webkit-box: 0; -moz-box: 0; -webkit-flex: 0 0 0 !important; -ms-flex: 0 0 0 !important; flex: 0 0 0 !important; }

/* line 115, src/assets/style/base/_common.scss */ .flex-wrap { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

/* line 118, src/assets/style/base/_common.scss */ .flex-column { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

/* line 123, src/assets/style/base/_common.scss */ .pt0 { padding-top: 0 !important; }

/* line 124, src/assets/style/base/_common.scss */ .pt5 { padding-top: 5px !important; }

/* line 125, src/assets/style/base/_common.scss */ .pt10 { padding-top: 10px !important; }

/* line 126, src/assets/style/base/_common.scss */ .pt15 { padding-top: 15px !important; }

/* line 127, src/assets/style/base/_common.scss */ .pt20 { padding-top: 20px !important; }

/* line 128, src/assets/style/base/_common.scss */ .pt25 { padding-top: 25px !important; }

/* line 129, src/assets/style/base/_common.scss */ .pt30 { padding-top: 30px !important; }

/* line 130, src/assets/style/base/_common.scss */ .pt35 { padding-top: 35px !important; }

/* line 131, src/assets/style/base/_common.scss */ .pt40 { padding-top: 40px !important; }

/* line 129, src/assets/style/base/_common.scss */ .pt50 { padding-top: 50px !important; }

/* line 129, src/assets/style/base/_common.scss */ .pt60 { padding-top: 60px !important; }

/* line 129, src/assets/style/base/_common.scss */ .pt70 { padding-top: 70px !important; }

/* line 129, src/assets/style/base/_common.scss */ .pt80 { padding-top: 80px !important; }

/* line 129, src/assets/style/base/_common.scss */ .pt100 { padding-top: 100px !important; }

/* line 129, src/assets/style/base/_common.scss */ .pt120 { padding-top: 120px !important; }

/* line 129, src/assets/style/base/_common.scss */ .pt200 { padding-top: 200px !important; }

/* line 132, src/assets/style/base/_common.scss */ .pl0 { padding-left: 0 !important; }

/* line 133, src/assets/style/base/_common.scss */ .pl5 { padding-left: 5px !important; }

/* line 134, src/assets/style/base/_common.scss */ .pl10 { padding-left: 10px !important; }

/* line 135, src/assets/style/base/_common.scss */ .pl15 { padding-left: 15px !important; }

/* line 136, src/assets/style/base/_common.scss */ .pl20 { padding-left: 20px !important; }

/* line 137, src/assets/style/base/_common.scss */ .pl25 { padding-left: 25px !important; }

/* line 138, src/assets/style/base/_common.scss */ .pl30 { padding-left: 30px !important; }

/* line 139, src/assets/style/base/_common.scss */ .pl35 { padding-left: 35px !important; }

/* line 140, src/assets/style/base/_common.scss */ .pl40 { padding-left: 40px !important; }

/* line 141, src/assets/style/base/_common.scss */ .pb0 { padding-bottom: 0 !important; }

/* line 142, src/assets/style/base/_common.scss */ .pb5 { padding-bottom: 5px !important; }

/* line 143, src/assets/style/base/_common.scss */ .pb10 { padding-bottom: 10px !important; }

/* line 144, src/assets/style/base/_common.scss */ .pb15 { padding-bottom: 15px !important; }

/* line 145, src/assets/style/base/_common.scss */ .pb20 { padding-bottom: 20px !important; }

/* line 146, src/assets/style/base/_common.scss */ .pb25 { padding-bottom: 25px !important; }

/* line 147, src/assets/style/base/_common.scss */ .pb30 { padding-bottom: 30px !important; }

/* line 148, src/assets/style/base/_common.scss */ .pb35 { padding-bottom: 35px !important; }

/* line 149, src/assets/style/base/_common.scss */ .pb40 { padding-bottom: 40px !important; }

/* line 150, src/assets/style/base/_common.scss */ .pr0 { padding-right: 0 !important; }

/* line 151, src/assets/style/base/_common.scss */ .pr5 { padding-right: 5px !important; }

/* line 152, src/assets/style/base/_common.scss */ .pr10 { padding-right: 10px !important; }

/* line 153, src/assets/style/base/_common.scss */ .pr15 { padding-right: 15px !important; }

/* line 154, src/assets/style/base/_common.scss */ .pr20 { padding-right: 20px !important; }

/* line 155, src/assets/style/base/_common.scss */ .pr25 { padding-right: 25px !important; }

/* line 156, src/assets/style/base/_common.scss */ .pr30 { padding-right: 30px !important; }

/* line 157, src/assets/style/base/_common.scss */ .pr35 { padding-right: 35px !important; }

/* line 158, src/assets/style/base/_common.scss */ .pr40 { padding-right: 40px !important; }

/* line 159, src/assets/style/base/_common.scss */ .p30 { padding: 30px !important; }

/* line 161, src/assets/style/base/_common.scss */ .mt0 { margin-top: 0 !important; }

/* line 162, src/assets/style/base/_common.scss */ .mt5 { margin-top: 5px !important; }

/* line 163, src/assets/style/base/_common.scss */ .mt10 { margin-top: 10px !important; }

/* line 164, src/assets/style/base/_common.scss */ .mt15 { margin-top: 15px !important; }

/* line 165, src/assets/style/base/_common.scss */ .mt20 { margin-top: 20px !important; }

/* line 166, src/assets/style/base/_common.scss */ .mt25 { margin-top: 25px !important; }

/* line 167, src/assets/style/base/_common.scss */ .mt30 { margin-top: 30px !important; }

/* line 168, src/assets/style/base/_common.scss */ .mt35 { margin-top: 35px !important; }

/* line 169, src/assets/style/base/_common.scss */ .mt40 { margin-top: 40px !important; }

/* line 170, src/assets/style/base/_common.scss */ .mt50 { margin-top: 50px !important; }

/* line 170, src/assets/style/base/_common.scss */ .mt100 { margin-top: 100px !important; }

/* line 171, src/assets/style/base/_common.scss */ .ml0 { margin-left: 0 !important; }

/* line 172, src/assets/style/base/_common.scss */ .ml5 { margin-left: 5px !important; }

/* line 173, src/assets/style/base/_common.scss */ .ml10 { margin-left: 10px !important; }

/* line 174, src/assets/style/base/_common.scss */ .ml15 { margin-left: 15px !important; }

/* line 175, src/assets/style/base/_common.scss */ .ml20 { margin-left: 20px !important; }

/* line 176, src/assets/style/base/_common.scss */ .ml25 { margin-left: 25px !important; }

/* line 177, src/assets/style/base/_common.scss */ .ml30 { margin-left: 30px !important; }

/* line 178, src/assets/style/base/_common.scss */ .ml35 { margin-left: 35px !important; }

/* line 179, src/assets/style/base/_common.scss */ .ml40 { margin-left: 40px !important; }

/* line 180, src/assets/style/base/_common.scss */ .mb0 { margin-bottom: 0 !important; }

/* line 181, src/assets/style/base/_common.scss */ .mb5 { margin-bottom: 5px !important; }

/* line 182, src/assets/style/base/_common.scss */ .mb10 { margin-bottom: 10px !important; }

/* line 183, src/assets/style/base/_common.scss */ .mb15 { margin-bottom: 15px !important; }

/* line 184, src/assets/style/base/_common.scss */ .mb20 { margin-bottom: 20px !important; }

/* line 185, src/assets/style/base/_common.scss */ .mb25 { margin-bottom: 25px !important; }

/* line 186, src/assets/style/base/_common.scss */ .mb30 { margin-bottom: 30px !important; }

/* line 187, src/assets/style/base/_common.scss */ .mb35 { margin-bottom: 35px !important; }

/* line 188, src/assets/style/base/_common.scss */ .mb40 { margin-bottom: 40px !important; }

/* line 189, src/assets/style/base/_common.scss */ .mr0 { margin-right: 0 !important; }

/* line 190, src/assets/style/base/_common.scss */ .mr5 { margin-right: 5px !important; }

/* line 191, src/assets/style/base/_common.scss */ .mr10 { margin-right: 10px !important; }

/* line 192, src/assets/style/base/_common.scss */ .mr15 { margin-right: 15px !important; }

/* line 193, src/assets/style/base/_common.scss */ .mr20 { margin-right: 20px !important; }

/* line 194, src/assets/style/base/_common.scss */ .mr25 { margin-right: 25px !important; }

/* line 195, src/assets/style/base/_common.scss */ .mr30 { margin-right: 30px !important; }

/* line 196, src/assets/style/base/_common.scss */ .mr35 { margin-right: 35px !important; }

/* line 197, src/assets/style/base/_common.scss */ .mr40 { margin-right: 40px !important; }

/* line 198, src/assets/style/base/_common.scss */ .mrauto { margin-right: auto; }

/* line 201, src/assets/style/base/_common.scss */ .align-left { text-align: left; }

/* line 204, src/assets/style/base/_common.scss */ .align-right { text-align: right; }

/* line 207, src/assets/style/base/_common.scss */ .align-center { text-align: center; }

/* line 210, src/assets/style/base/_common.scss */ .valign-top { vertical-align: top; }

/* line 213, src/assets/style/base/_common.scss */ .valign-middle { vertical-align: middle; }

/* line 216, src/assets/style/base/_common.scss */ .valign-bottom { vertical-align: bottom; }

/* line 221, src/assets/style/base/_common.scss */ .display-inherit { display: inherit; }

/* line 222, src/assets/style/base/_common.scss */ .display-hide { display: none; }

/* line 223, src/assets/style/base/_common.scss */ .display-block { display: block; }

/* line 224, src/assets/style/base/_common.scss */ .display-inline-block { display: inline-block; }

/* line 226, src/assets/style/base/_common.scss */ .ellipsis { width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* line 228, src/assets/style/base/_common.scss */ .position-re { position: relative; }

/* line 231, src/assets/style/base/_common.scss */ .position-ab { position: absolute; }

/* line 235, src/assets/style/base/_common.scss */ .flex1 { -webkit-box: 1; -moz-box: 1; -webkit-flex: 1 0 auto !important; -ms-flex: 1 0 auto !important; flex: 1 0 auto !important; }

/* line 238, src/assets/style/base/_common.scss */ .flex2 { -webkit-box: 2; -moz-box: 2; -webkit-flex: 2 0 auto !important; -ms-flex: 2 0 auto !important; flex: 2 0 auto !important; }

/* line 241, src/assets/style/base/_common.scss */ .flex3 { -webkit-box: 3; -moz-box: 3; -webkit-flex: 3 0 auto !important; -ms-flex: 3 0 auto !important; flex: 3 0 auto !important; }

/* line 244, src/assets/style/base/_common.scss */ .flex4 { -webkit-box: 4; -moz-box: 4; -webkit-flex: 4 0 auto !important; -ms-flex: 4 0 auto !important; flex: 4 0 auto !important; }

/* line 247, src/assets/style/base/_common.scss */ .flex5 { -webkit-box: 5; -moz-box: 5; -webkit-flex: 5 0 auto !important; -ms-flex: 5 0 auto !important; flex: 5 0 auto !important; }

/* line 251, src/assets/style/base/_common.scss */ .warning-text { position: relative; display: inline-block; color: #F24546; font-size: 12px; padding-left: 15px; }

/* line 257, src/assets/style/base/_common.scss */ .warning-text:before { position: absolute; left: 0; top: 50%; transform: translateY(-50%); content: '※'; display: block; }

/* line 267, src/assets/style/base/_common.scss */ .color-primary { color: #3158b5; }

/* line 271, src/assets/style/base/_common.scss */ .color-green { color: #28BCA1; }

/* line 275, src/assets/style/base/_common.scss */ .wd180 { min-width: 1px !important; width: 180px !important; }

/* line 276, src/assets/style/base/_common.scss */ .wd140 { min-width: 1px !important; width: 140px !important; }

/* line 277, src/assets/style/base/_common.scss */ .wd130 { width: 130px !important; }

/* line 278, src/assets/style/base/_common.scss */ .wd118 { width: 118px !important; }

/* line 279, src/assets/style/base/_common.scss */ .wd115 { min-width: 1px !important; width: 115px !important; }

/* line 280, src/assets/style/base/_common.scss */ .wd100 { min-width: 1px !important; width: 100px !important; }

/* line 281, src/assets/style/base/_common.scss */ .wd80 { min-width: 1px !important; width: 80px !important; }

/* line 282, src/assets/style/base/_common.scss */ .wd50 { min-width: 1px !important; width: 50px !important; }

/* line 283, src/assets/style/base/_common.scss */ .w40p { min-width: 1px !important; width: 40% !important; }

/* line 284, src/assets/style/base/_common.scss */ .w50p { min-width: 1px !important; width: 50% !important; }

/* line 285, src/assets/style/base/_common.scss */ .w100p { min-width: 1px !important; width: 100% !important; }

/* line 287, src/assets/style/base/_common.scss */ .text-right { text-align: right; }

/* line 290, src/assets/style/base/_common.scss */ .app input, .app textarea, .app select { padding: 13px 20px; }

/* line 279, src/assets/style/base/_jquery-reset.scss */ .mCSB_horizontal.mCSB_inside > .mCSB_container { margin-bottom: 20px; }

/* line 283, src/assets/style/base/_jquery-reset.scss */ .mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail { background-color: #ECECEC; }

/* line 286, src/assets/style/base/_jquery-reset.scss */ .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger_onDrag .mCSB_dragger_bar:active, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:active { background-color: #3158b5; }

/* line 177, src/assets/style/base/_component.scss */ .app .list-table table { width: 700px; margin-top: -10px; border-collapse: separate; border-spacing: 0 10px; }

/* line 183, src/assets/style/base/_component.scss */ .app .list-table th, .dashboard .list-table td { white-space: nowrap; }

/* line 188, src/assets/style/base/_component.scss */ .app .list-table thead th { background-color: #F8F9FA; border: 1px solid #EBECF0; border-right: 0; color: #737373; line-height: 18px; padding: 18px 10px; vertical-align: middle; height: 96px; }

/* line 198, src/assets/style/base/_component.scss */ .app .list-table thead th:first-child { border-radius: 15px 0 0 15px; }

/* line 201, src/assets/style/base/_component.scss */ .app .list-table thead th:last-child { border-right: 1px solid #EBECF0; border-radius: 0 15px 15px 0; }

/* line 205, src/assets/style/base/_component.scss */ .app .list-table thead th.th-left { text-align: left; }

/* line 208, src/assets/style/base/_component.scss */ .app .list-table thead th.th-right { text-align: right; }

/* line 211, src/assets/style/base/_component.scss */ .app .list-table thead th.half { padding: 14px 20px; vertical-align: middle; }

/* line 218, src/assets/style/base/_component.scss */ .app .list-table tbody tr:nth-child(even) td { background-color: #F8F9FA; }

/* line 222, src/assets/style/base/_component.scss */ .app .list-table tbody .complete td:after { background-color: #fafafa !important; }

/* line 225, src/assets/style/base/_component.scss */ .app .list-table tbody .complete td > span { opacity: 0.2; }

/* line 229, src/assets/style/base/_component.scss */ .app .list-table tbody td { text-align: center; padding: 0 20px; height: 52px; vertical-align: middle; }

/* line 234, src/assets/style/base/_component.scss */ .app .list-table tbody td:first-child { border-radius: 15px 0 0 15px; }

/* line 237, src/assets/style/base/_component.scss */ .app .list-table tbody td:last-child { border-radius: 0 15px 15px 0; }

/* line 240, src/assets/style/base/_component.scss */ .app .list-table tbody td.td-left { text-align: left; }

/* line 243, src/assets/style/base/_component.scss */ .app .list-table tbody td.td-right { text-align: right; }

/* line 248, src/assets/style/base/_component.scss */ .app .list-table.max-table { overflow-x: auto; }

/* line 250, src/assets/style/base/_component.scss */ .app .list-table.max-table table { width: auto; }

/* line 254, src/assets/style/base/_component.scss */ .app .list-table.multiple-table { width: fit-content; }

/* line 257, src/assets/style/base/_component.scss */ .app .list-table.multiple-table table { margin-top: 0px; border-collapse: initial; border-spacing: 0; }

/* line 263, src/assets/style/base/_component.scss */ .app .list-table.multiple-table thead tr th:last-child { border-radius: 0 15px 0 0; }

/* line 267, src/assets/style/base/_component.scss */ .app .list-table.multiple-table thead tr:not(:first-child) th { border-top: 0; }

/* line 269, src/assets/style/base/_component.scss */ .app .list-table.multiple-table thead tr:not(:first-child) th:first-child { border-radius: 0; }

/* line 272, src/assets/style/base/_component.scss */ .app .list-table.multiple-table thead tr:not(:first-child) th:last-child { border-radius: 0 0 15px 0; }

/* line 279, src/assets/style/base/_component.scss */ .app .list-table.multiple-table tbody tr:nth-child(even) td { background-color: #FFFFFF; }

/* line 281, src/assets/style/base/_component.scss */ .app .list-table.multiple-table tbody tr:nth-child(even) td:after { background-color: #F8F9FA; }

/* line 285, src/assets/style/base/_component.scss */ .app .list-table.multiple-table tbody tr td { position: relative; height: 72px; }

/* line 288, src/assets/style/base/_component.scss */ .app .list-table.multiple-table tbody tr td > * { position: relative; z-index: 2; }

/* line 292, src/assets/style/base/_component.scss */ .app .list-table.multiple-table tbody tr td:first-child:after { border-radius: 15px 0 0 15px; }

/* line 295, src/assets/style/base/_component.scss */ .app .list-table.multiple-table tbody tr td:last-child:after { border-radius: 0 15px 15px 0; }

/* line 298, src/assets/style/base/_component.scss */ .app .list-table.multiple-table tbody tr td:after { position: absolute; top: 10px; left: 0; width: 100%; height: 52px; content: ''; display: block; z-index: 1; }

/* line 310, src/assets/style/base/_component.scss */ .app .list-table.multiple-table + .pagination { margin-top: 20px; }

/* line 543, src/assets/style/base/_component.scss */ .app a.btn { line-height: 20px; }

/* line 547, src/assets/style/base/_component.scss */ .app .btn { display: -webkit-inline-box; display: -moz-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; padding: 10px 20px; border-radius: 10px; background-color: #3158b5; background-repeat: no-repeat; background-position: center; background-size: auto; font-size: 15px; color: #FFFFFF; cursor: pointer; padding: 14px 20px; line-height: 20px; }

/* line 326, src/assets/style/base/_mixin.scss */ .app .btn:hover, .app .btn:active, .app .btn:visited { color: #FFFFFF; }

/* line 551, src/assets/style/base/_component.scss */ .app .btn.btn-black { background-color: #1A1E27; background-repeat: no-repeat; background-position: center; background-size: auto; }

/* line 554, src/assets/style/base/_component.scss */ .app .btn.line-black-btn { border: 1px solid #767D83; padding: 13px 20px; background-color: #FFFFFF; background-repeat: no-repeat; background-position: center; background-size: auto; color: #767D83; }

/* line 560, src/assets/style/base/_component.scss */ .app .btn.btn-cancel { background-color: #767D83; background-repeat: no-repeat; background-position: center; background-size: auto; }

/* line 563, src/assets/style/base/_component.scss */ .app .btn.btn-delete { background-color: #F24546; background-repeat: no-repeat; background-position: center; background-size: auto; }

/* line 566, src/assets/style/base/_component.scss */ .app .btn.btn-transparent { background-color: transparent; background-repeat: no-repeat; background-position: center; background-size: auto; }

/* line 569, src/assets/style/base/_component.scss */ .app .btn.icon-btn { padding: 5px; }

/* line 572, src/assets/style/base/_component.scss */ .app .btn.btn-excel { padding-left: 49px; border: 1px solid #ECECEC; background-color: #FFFFFF; color: #107C41; background-image: url("../images/icon-excel.png"); background-repeat: no-repeat; background-position: center left 20px; background-size: 24px; }

/* line 579, src/assets/style/base/_component.scss */ .app .btn.btn-download { padding-left: 49px; border: 1px solid #ECECEC; background-color: #FFFFFF; color: #3158b5; background-image: url("../images/icon-download.png"); background-repeat: no-repeat; background-position: center left 20px; background-size: 24px; }

/* line 586, src/assets/style/base/_component.scss */ .app .btn.band-btn { padding-left: 79px; background-color: #21C531; background-image: url("../images/icon-band-white.png"); background-repeat: no-repeat; background-position: center left 18px; background-size: 56px; }

/* line 591, src/assets/style/base/_component.scss */ .app .btn.small { padding: 8px 14px; }

/* line 596, src/assets/style/base/_component.scss */ .app .txt-btn { font-size: 14px; }

/* line 598, src/assets/style/base/_component.scss */ .app .txt-btn + .txt-btn { padding-left: 15px; }

/* line 601, src/assets/style/base/_component.scss */ .app .txt-btn.btn-gray { color: #AAAAAA; }

/* line 604, src/assets/style/base/_component.scss */ .app .txt-btn.btn-primary { color: #3158b5; }

/* line 607, src/assets/style/base/_component.scss */ .app .txt-btn.btn-black { color: #1A1E27; }

/* line 612, src/assets/style/base/_component.scss */ .app [class^=icon-] { display: inline-block; width: 20px; height: 20px; }

/* line 616, src/assets/style/base/_component.scss */ .app [class^=icon-].sm { width: 18px; height: 18px; }

/* line 620, src/assets/style/base/_component.scss */ .app [class^=icon-].lg { width: 24px; height: 24px; }

/* line 624, src/assets/style/base/_component.scss */ .app [class^=icon-].xl { padding: 0; width: 30px; height: 30px; }

/* line 737, src/assets/style/base/_component.scss */ .app .badge { display: inline-block; padding: 5px 16px; border-radius: 14px; color: #FFFFFF; line-height: 20px; }

/* line 743, src/assets/style/base/_component.scss */ .app .badge.green { background-color: #28BCA1; }

/* line 746, src/assets/style/base/_component.scss */ .app .badge.red { background-color: #F24546; }

/* line 749, src/assets/style/base/_component.scss */ .app .badge.yellow { background-color: #FEAB47; }

/* line 752, src/assets/style/base/_component.scss */ .app .badge.gray { background-color: #D2D2D2; }

/* line 755, src/assets/style/base/_component.scss */ .app .badge.light-gray { background-color: #EEEEEE; }

/* line 757, src/assets/style/base/_component.scss */ .app .badge.light-gray + .item { opacity: 0.6; }

/* line 761, src/assets/style/base/_component.scss */ .app .badge.black { background-color: #1A1E27; }

/* line 766, src/assets/style/base/_component.scss */ .app .file { width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: calc(100% - 40px); line-height: 20px; }

/* line 771, src/assets/style/base/_component.scss */ .app .file-list ul { padding: 15px; padding-bottom: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; max-height: 105px; overflow-y: auto; border-radius: 10px; background-color: #FFFFFF; }

/* line 811, src/assets/style/base/_component.scss */ .app .file-item { margin-bottom: 10px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }

/* line 816, src/assets/style/base/_component.scss */ .app .file-item.none-item { padding: 30px 0 40px; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; color: #AAAAAA; }

/* line 822, src/assets/style/base/_component.scss */ .app .file-delete-btn { width: 20px; height: 20px; background-image: url("../images/icon-delete.png"); background-repeat: no-repeat; background-position: center; background-size: 100%; }

/* line 829, src/assets/style/base/_component.scss */ .app input.datepicker { padding-left: 49px; width: 60%; background-image: url("../images/icon-datepicker.png"); background-repeat: no-repeat; background-position: center left 15px; background-size: 24px; }

/* line 835, src/assets/style/base/_component.scss */ .app .camera { margin: 0 20px; height: calc(100vh - 223px); background-color: #EEEEEE; }

/* line 841, src/assets/style/base/_component.scss */ .app .map { margin: 0 20px; height: calc(100vh - 219px); background-color: #EEEEEE; }

/* line 847, src/assets/style/base/_component.scss */ .app .cert-item { position: relative; display: none; }

/* line 852, src/assets/style/base/_component.scss */ .app .timer { position: absolute; right: 20px; top: 18px; font-size: 12px; color: #AAAAAA; }

/* line 860, src/assets/style/base/_component.scss */ .app .none-item { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; height: calc(100vh - 353px); -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

/* line 865, src/assets/style/base/_component.scss */ .app .none-item p { color: #AAAAAA; }

/* line 268, src/assets/style/layout/layout.scss */ .app.overflow-hidden { overflow: hidden; }

/* line 272, src/assets/style/layout/layout.scss */ .app main { padding-top: 75px; }

/* line 276, src/assets/style/layout/layout.scss */ .app .container { padding: 20px; }

/* line 280, src/assets/style/layout/layout.scss */ .app .form { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

/* line 283, src/assets/style/layout/layout.scss */ .app .form .item { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; margin-bottom: 15px; }

/* line 287, src/assets/style/layout/layout.scss */ .app .form .item:last-child { margin-bottom: 0 !important; }

/* line 290, src/assets/style/layout/layout.scss */ .app .form .item input, .app .form .item select { width: 100%; }

/* line 293, src/assets/style/layout/layout.scss */ .app .form .item .title-label + input, .app .form .item .title-label + select { width: calc(100% - 75px); }

/* line 298, src/assets/style/layout/layout.scss */ .app .form-value { color: #1A1E27; line-height: 20px; width: calc(100% - 75px); }

/* line 303, src/assets/style/layout/layout.scss */ .app .form .title-label { min-width: 70px; margin-right: 5px; color: #767D83; }

/* line 307, src/assets/style/layout/layout.scss */ .app .form .title-label.required { position: relative; }

/* line 309, src/assets/style/layout/layout.scss */ .app .form .title-label.required:after { display: inline; font-size: 12px; content: '*'; color: #F24546; }

/* line 319, src/assets/style/layout/layout.scss */ .app .form .title-label.bold { color: #1A1E27; }

/* line 324, src/assets/style/layout/layout.scss */ .app .form .text-frame { min-height: 200px; }

/* line 327, src/assets/style/layout/layout.scss */ .app .form.tight .item { -webkit-box-align: start; -moz-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; margin-bottom: 5px; }

/* line 330, src/assets/style/layout/layout.scss */ .app .form.tight .item .title-label { line-height: 20px; }

/* line 334, src/assets/style/layout/layout.scss */ .app .form .btn span { white-space: nowrap; }

/* line 339, src/assets/style/layout/layout.scss */ .app .btn-group { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }

/* line 341, src/assets/style/layout/layout.scss */ .app .btn-group.column { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

/* line 343, src/assets/style/layout/layout.scss */ .app .btn-group.column .btn { margin-right: 0; margin-bottom: 10px; }

/* line 346, src/assets/style/layout/layout.scss */ .app .btn-group.column .btn:last-child { margin-bottom: 0px; }

/* line 351, src/assets/style/layout/layout.scss */ .app .btn-group .btn { -webkit-box: 1; -moz-box: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; margin-right: 10px; }

/* line 354, src/assets/style/layout/layout.scss */ .app .btn-group .btn:last-child { margin-right: 0; }

/* line 360, src/assets/style/layout/layout.scss */ .app .title { font-size: 17px; margin-bottom: 15px;}

/* line 366, src/assets/style/layout/layout.scss */ .app .wrap { background-color: #FFFFFF; }

/* line 371, src/assets/style/layout/layout.scss */ .app .box { border-radius: 10px; background-color: #FFFFFF; }

/* line 374, src/assets/style/layout/layout.scss */ .app .box .container { padding: 20px 15px; }

/* line 377, src/assets/style/layout/layout.scss */ .app .box + .title { margin-top: 30px; }

/* line 380, src/assets/style/layout/layout.scss */ .app .box + .box { margin-top: 15px; }

/* line 383, src/assets/style/layout/layout.scss */ .app .box .icon-mypage { opacity: 0.5; }

/* line 388, src/assets/style/layout/layout.scss */ .app .main-image-section { width: 100%; }

/* line 390, src/assets/style/layout/layout.scss */ .app .main-image-section .frame { width: calc(100vw - 40px); min-height: calc(100vw - 40px); overflow: hidden; background-color: #FFFFFF; }

/* line 395, src/assets/style/layout/layout.scss */ .app .main-image-section .frame img { max-width: 100%; }

/* line 399, src/assets/style/layout/layout.scss */ .app .main-image-section .description { top: 50%; left: 50%; color: #AAAAAA; white-space: nowrap; transform: translate(-50%, -50%); }

/* line 406, src/assets/style/layout/layout.scss */ .app .main-image-section .image-upload-btn { position: absolute; bottom: 20px; right: 20px; width: 36px; height: 36px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08); background: #FFFFFF; border-radius: 10px; border: 1px solid #ECECEC; }

/* line 416, src/assets/style/layout/layout.scss */ .app .main-image-section .image-upload-btn .icon-btn { width: 100%; height: 100%; background-image: url("../images/icon-image.png"); background-repeat: no-repeat; background-position: center; background-size: 20px; cursor: pointer; }

/* line 422, src/assets/style/layout/layout.scss */ .app .main-image-section .image-upload-btn input { display: none; }

/* line 428, src/assets/style/layout/layout.scss */ .app .admin { color: #767D83; }

/* line 430, src/assets/style/layout/layout.scss */ .app .admin-toggle { padding: 13px 15px; border-radius: 10px; background-color: #F5F8FF; margin-bottom: 30px; }

/* line 436, src/assets/style/layout/layout.scss */ .app .admin-toggle.is-active .admin { color: #3158b5; }

/* line 442, src/assets/style/layout/layout.scss */ .app .admin-onoff input + .admin-toggle-btn { position: relative; width: 58px; height: 30px; padding: 1px; display: block; transition: all 0.4s ease; background-color: #AAAAAA; border-radius: 15px; }

/* line 451, src/assets/style/layout/layout.scss */ .app .admin-onoff input + .admin-toggle-btn:before { display: none; }

/* line 454, src/assets/style/layout/layout.scss */ .app .admin-onoff input + .admin-toggle-btn:after { position: relative; width: 35px; height: 28px; border-radius: 14px; content: 'OFF'; display: block; text-align: center; line-height: 28px; background-color: #F5F8FF; color: #AAAAAA; left: 0; font-size: 10px; transition: all 0.2s ease; }

/* line 470, src/assets/style/layout/layout.scss */ .app .admin-onoff input:checked + .admin-toggle-btn { background-color: #28BCA1; }

/* line 472, src/assets/style/layout/layout.scss */ .app .admin-onoff input:checked + .admin-toggle-btn:after { content: 'ON'; color: #28BCA1; left: 21px; }

/* line 481, src/assets/style/layout/layout.scss */ .app .notice { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

/* line 484, src/assets/style/layout/layout.scss */ .app .notice-list { padding-bottom: 15px; }

/* line 487, src/assets/style/layout/layout.scss */ .app .notice .item { border-bottom: 1px solid #ECECEC; }

/* line 489, src/assets/style/layout/layout.scss */ .app .notice .item:last-child { border-bottom: 0; }

/* line 492, src/assets/style/layout/layout.scss */ .app .notice .item .modal-btn { display: block; width: 100%; text-align: left; padding: 15px 0; padding-right: 32px; background-image: url("../images/icon-arrow.png"); background-repeat: no-repeat; background-position: center right; background-size: 32px; }

/* line 499, src/assets/style/layout/layout.scss */ .app .notice .item .date { color: #AAAAAA; line-height: 20px; }

/* line 503, src/assets/style/layout/layout.scss */ .app .notice .item .title { font-size: 15px; margin-top: 10px; line-height: 20px; margin-bottom: 0; }

/* line 512, src/assets/style/layout/layout.scss */ .app .data { padding-bottom: 15px; line-height: 20px; border-bottom: 1px solid #ECECEC; }

/* line 517, src/assets/style/layout/layout.scss */ .app .data-label { padding-right: 10px; color: #767D83; }

/* line 520, src/assets/style/layout/layout.scss */ .app .data-label + .data-value { padding-right: 15px; }

/* line 525, src/assets/style/layout/layout.scss */ .app .data-value { color: #1A1E27; }

/* line 527, src/assets/style/layout/layout.scss */ .app .data-value + .data-label { margin-left: 20px; }

/* line 530, src/assets/style/layout/layout.scss */ .app .data-value + .data-value { position: relative; padding-left: 21px; }

/* line 533, src/assets/style/layout/layout.scss */ .app .data-value + .data-value:before { position: absolute; top: 5px; left: 10px; height: 10px; width: 1px; content: ''; display: block; background-color: #ECECEC; }

/* line 548, src/assets/style/layout/layout.scss */ .apps { min-height: 100vh; padding-bottom: 88px; background-color: #F5F8FF; }

/* line 552, src/assets/style/layout/layout.scss */ .apps.main { padding-bottom: 78px; }

/* line 556, src/assets/style/layout/layout.scss */ .none-nav { min-height: 100vh; background-color: #F5F8FF; }

/* line 1, src/assets/style/layout/rnb.scss */ .app .rnb { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 300; display: none; }

/* line 10, src/assets/style/layout/rnb.scss */ .app .rnb-wrap { position: absolute; top: 0; right: 0; bottom: 0; width: 260px; background-color: #FFFFFF; z-index: 250; }

/* line 18, src/assets/style/layout/rnb.scss */ .app .rnb-wrap .txt-btn { position: absolute; bottom: 25px; right: 20px; color: #767D83; text-decoration: underline; }

/* line 27, src/assets/style/layout/rnb.scss */ .app .rnb-top-inner { padding: 23px 20px; padding-bottom: 20px; }

/* line 29, src/assets/style/layout/rnb.scss */ .app .rnb-top-inner .btn { padding: 0; }

/* line 36, src/assets/style/layout/rnb.scss */ .app .rnb-list .one-depth a { display: block; padding: 15px 20px; padding-right: 0; line-height: 20px; }

/* line 41, src/assets/style/layout/rnb.scss */ .app .rnb-list .one-depth.is-active a { background-color: #F5F8FF; color: #3158b5; }

/* line 49, src/assets/style/layout/rnb.scss */ .app .rnb-outlink { margin: 15px 20px; margin-bottom: 0; border-top: 1px solid #ECECEC; }

/* line 52, src/assets/style/layout/rnb.scss */ .app .rnb-outlink .btn { -webkit-box-pack: start; -moz-box-pack: start; -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; padding: 15px 0; padding-left: 47px; text-align: left; color: #21C531; background-color: transparent; background-image: url("../images/icon-band-green.png"); background-repeat: no-repeat; background-position: center left; background-size: 42px; }

/* line 61, src/assets/style/layout/rnb.scss */ .app .rnb-dim { position: relative; width: 100%; height: 100%; background-color: rgba(26, 30, 39, 0.56); z-index: 150; }

/* line 1, src/assets/style/layout/navigation.scss */ .apps .navigation { position: fixed; bottom: 0; left: 0; right: 0; border-top: 1px solid #e0e0e0; background-color: #FFFFFF; box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.08); z-index: 50; }

/* line 10, src/assets/style/layout/navigation.scss */ .apps .navigation ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }

/* line 13, src/assets/style/layout/navigation.scss */ .apps .navigation .one-depth { -webkit-box: 1; -moz-box: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }

/* line 15, src/assets/style/layout/navigation.scss */ .apps .navigation .one-depth.is-active .name { color: #3158b5; }

/* line 19, src/assets/style/layout/navigation.scss */ .apps .navigation a, .apps .navigation button { width: 100%; padding: 17px 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; font-size: 12px; }

/* line 28, src/assets/style/layout/navigation.scss */ .apps .navigation .name { color: #B8B8B8; margin-top: 5px; }

/* line 79, src/assets/style/layout/header.scss */ .app header { position: fixed; top: 0; left: 0; right: 0; border-bottom: 1px solid #e0e0e0; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08); background-color: #FFFFFF; z-index: 100; padding: 20px; }

/* line 88, src/assets/style/layout/header.scss */ .app header .logo { width: 78px; height: 28px; background-image: url("../images/logo.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }

/* line 92, src/assets/style/layout/header.scss */ .app header .logo a { display: block; }

/* line 98, src/assets/style/layout/header.scss */ .app header .right-wrap .badge { max-width: 145px; }

/* line 3, src/assets/style/layout/modal.scss */ .app .modal { position: fixed; top: 0; left: 0; bottom: 0; right: 0; display: none; z-index: 10000; }

/* line 12, src/assets/style/layout/modal.scss */ .app .modal-box { position: fixed; width: 100%; height: 100%; overflow-y: auto; }

/* line 22, src/assets/style/layout/modal.scss */ .app .modal .dim { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background-color: rgba(26, 30, 39, 0.6); z-index: -1; }

/* line 36, src/assets/style/layout/modal.scss */ .app .modal-wrap { width: 420px; min-height: 270px; margin: 10% auto 20px; padding: 30px; background-color: #fff; border-radius: 20px; }

/* line 45, src/assets/style/layout/modal.scss */ .app .modal-close { display: block; width: 32px; height: 32px; margin: 0 0 0 auto; cursor: pointer; }

/* line 53, src/assets/style/layout/modal.scss */ .app .modal-title { margin-top: -7px; font-size: 30px; font-weight: bold; line-height: 24px; color: #767D83; }

/* line 61, src/assets/style/layout/modal.scss */ .app .modal-cont { min-height: 65px; margin-top: 20px; line-height: 1.65; }

/* line 67, src/assets/style/layout/modal.scss */ .app .modal-btn-wrap { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: end; -moz-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; margin-top: 30px; }

/* line 76, src/assets/style/layout/modal.scss */ .app .modal-btn-wrap .modal-cancel { background-color: #767D83; background-repeat: no-repeat; background-position: center; background-size: auto; }

/* line 82, src/assets/style/layout/modal.scss */ .app .modal.lg .modal-wrap { width: 810px; }

/* line 82, src/assets/style/layout/modal.scss */ .app .modal.llg .modal-wrap { width: 850px; }

/* line 85, src/assets/style/layout/modal.scss */ .app .modal.lg .modal-wrap .modal-cont { min-height: 300px; }

/* line 92, src/assets/style/layout/modal.scss */ .app .modal.xl .modal-wrap { width: 1440px; }

/* line 95, src/assets/style/layout/modal.scss */ .app .modal.xl .modal-wrap .modal-cont { min-height: 512px; }

/* line 101, src/assets/style/layout/modal.scss */ .app .modal .modal-wrap { position: relative; }

/* line 106, src/assets/style/layout/modal.scss */ .app .modal .info-list-wrap li { line-height: 38px; }

/* line 109, src/assets/style/layout/modal.scss */ .app .modal .info-list-wrap li.half { display: inline-block; width: 49%; }

/* line 116, src/assets/style/layout/modal.scss */ .app .modal-textarea .default-textarea { width: 100%; }

/* line 121, src/assets/style/layout/modal.scss */ .app .modal.alert .modal-title { display: none; }

/* line 125, src/assets/style/layout/modal.scss */ .app .modal.alert .modal-cont { text-align: center; }

/* line 130, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"] { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

/* line 133, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"]:not(:first-child) { margin-top: 15px; }

/* line 137, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"] > span { display: inline-block; width: 100px; margin-right: 5px; }

/* line 143, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"] .input-wrap { display: inline-block; width: 87%; }

/* line 148, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"] input, .dashboard .modal div[class*="-input"] select { width: 100%; }

/* line 154, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"].id-input input { width: 85%; }

/* line 162, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"].authorization-input .authorization-num { position: relative; display: inline-block; width: 89%; }

/* line 167, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"].authorization-input .authorization-num .font-red { position: absolute; top: 50%; right: 0; transform: translate(-50%, -50%); }

/* line 179, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"].email-input input, .dashboard .modal div[class*="-input"].email-input select { width: 32.2%; }

/* line 186, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"].phone-input select { width: 20%; }

/* line 190, src/assets/style/layout/modal.scss */ .app .modal div[class*="-input"].phone-input input { width: 30%; }

/* line 196, src/assets/style/layout/modal.scss */ .app .modal .data { padding: 10px 0 30px; line-height: 20px; border-bottom: 1px solid #ECECEC; }

/* line 201, src/assets/style/layout/modal.scss */ .app .modal .data-label { width: 80px; padding-right: 5px; color: #1A1E27; }

/* line 207, src/assets/style/layout/modal.scss */ .app .modal .data-value { padding: 0 10px; color: #767D83; }

/* line 211, src/assets/style/layout/modal.scss */ .app .modal .data-value + .data-label { margin-left: 15px; }

/* line 217, src/assets/style/layout/modal.scss */ .app .modal .text-frame { margin-top: 20px; }

/* line 221, src/assets/style/layout/modal.scss */ .app .modal .form { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: column; }

/* line 225, src/assets/style/layout/modal.scss */ .app .modal .form-item { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: start; -moz-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; width: 100%; margin-bottom: 15px; }

/* line 231, src/assets/style/layout/modal.scss */ .app .modal .form-item:last-child { margin-bottom: 0; }

/* line 236, src/assets/style/layout/modal.scss */ .app .modal .form .title { display: -webkit-inline-box; display: -moz-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; width: 105px; color: #1A1E27; line-height: 40px; }

/* line 242, src/assets/style/layout/modal.scss */ .app .modal .form .title.required { position: relative; }

/* line 245, src/assets/style/layout/modal.scss */ .app .modal .form .title.required:after { display: inline; font-size: 12px; content: '*'; color: #F24546; }

/* line 257, src/assets/style/layout/modal.scss */ .app .modal .form input, .dashboard .modal .form select { -webkit-box: 1; -moz-box: 1; -webkit-flex: 1 1 150px; -ms-flex: 1 1 150px; flex: 1 1 150px; }

/* line 263, src/assets/style/layout/modal.scss */ .app .modal .image-section { width: 100%; border-radius: 15px; padding: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); }

/* line 269, src/assets/style/layout/modal.scss */ .app .modal .image-section .frame { width: 100%; min-height: 460px; }

/* line 273, src/assets/style/layout/modal.scss */ .app .modal .image-section .frame img { max-height: 100%; width: auto; }

/* line 279, src/assets/style/layout/modal.scss */ .app .modal .image-section .btn-group { top: 10px; right: 10px; }

/* line 1, src/assets/style/layout/login.scss */ .app .member { margin: auto; width: 550px; padding: 50px 60px; background-color: #FFFFFF; border-radius: 15px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); }

/* line 14, src/assets/style/layout/login.scss */ .app .member .title { margin-bottom: 40px; font-size: 20px; text-align: left; color: #767D83; }

/* line 21, src/assets/style/layout/login.scss */ .app .member .sub-title { margin-bottom: 15px; font-size: 19px; text-align: left; color: #3158b5; }

/* line 28, src/assets/style/layout/login.scss */ .app .member .description { text-align: center; color: #767D83; }

/* line 32, src/assets/style/layout/login.scss */ .app .member .term-frame { border: 1px solid #ECECEC; height: 130px; padding: 10px; line-height: 1.562; color: #767D83; overflow-y: auto; }

/* line 40, src/assets/style/layout/login.scss */ .app .member .cert-item { display: none; }

/* line 43, src/assets/style/layout/login.scss */ .app .member .timer { margin-left: 10px; width: 110px; font-size: 12px; color: #AAAAAA; }

/* line 49, src/assets/style/layout/login.scss */ .app .member .find-result { display: none; margin-top: 20px; padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #ECECEC; border-bottom: 1px solid #ECECEC; }

/* line 56, src/assets/style/layout/login.scss */ .app .member .find-result .sub-title:before { content: '·'; padding-right: 5px; display: inline; }

/* line 61, src/assets/style/layout/login.scss */ .app .member .find-result p { margin-top: 20px; text-align: center; font-size: 17px; line-height: 1.42; color: #767D83; }

/* line 68, src/assets/style/layout/login.scss */ .app .member .find-result b { color: #3158b5; }

/* Park Kyung Min custom */

/* lotto ball 관련 */
.lotto_ball { width: 120px; height: 120px; border-radius: 60px; float: left; text-align: center; margin-left: 5px; padding-top : 18px; text-shadow: 0px 0px 3px rgba(73, 57, 0, 80%); font-size: 80px; color: white; }
.lotto_mball { background-color: rgb(251, 196, 0); width: 65px; height: 65px; border-radius: 50px; margin-left: 10px; float: left; font-size: 40px; color: white; text-shadow: 0px 0px 3px rgba(73, 57, 0, 80%); padding-top: 10px; }
#ball_1 { background-color: rgb(251, 196, 0); /* 0 번대*/ }
#ball_2 { background-color: rgb(105, 200, 242); /* 10 번대*/ }
#ball_3 { background-color: rgb(255, 114, 114); /* 20 번대*/ }
#ball_4 { background-color: rgb(170, 170, 170); /* 30 번대*/ }
#ball_5 { background-color: rgb(179, 225, 52); /* 40 번대*/ }
#ball_6 { background-color: rgb(236, 185, 224); }

/* 번호 선택 div, check box, 라벨*/ 
input[type=checkbox] { zoom: 2; }
.nbrDiv label{ font-size: 25px; }
label{ margin-left: 10px; }
.nbrDiv{ text-align: center; margin-bottom: 10px; font-size: 25px; font-weight: bold; }


/* 게임 선택 select box */
#select_game{ width: 270px; height: 65px; font-size: 20px; font-weight: bold; }

/* 번호 선택 popup */
#paymentZone{ width: 100%; }
#pay, #howMuch{ font-size: 30px; font-weight: bold; width: 355px; display: inline-block;}
[name=dot], #day_issue, #day_lottery, #day_limit{ font-size: 28px; text-align: left; font-weight: bold;}
[name=dayTag] {font-size: 28px; text-align: left; font-weight: bold; margin-left:25px; display: inline-block; width: 130px;}
#print p { margin-top: 0px !important; margin-bottom: 0 !important; }
#selectTalbeDiv{ margin-top: 0px; padding-left: 30px; }
#selectLottoTable span, #selectTalbeDiv span{ font-size: 28px; font-weight: bold;}
/* footer */
[name=i_footer]{ color: gray; font-size: 40px; }
[name=i_name]{ font-weight: bold; font-size: 18px; }
